<h1 class="text-center mt-3 text-black">Servicios Prestados</h1>
<div class="bg-white text-center pt-2 p-5 mb-3 d-flex align-items-center text-center">
    <div class="row">
        <ng-container *ngFor="let servicios of listaservicios">
            <div class="col-12 col-md-5 ">
                <img [src]="servicios.img" alt="Logo" class="w-100 mt-md-3 pt-md-2">
            </div>
            <div class="col-12 col-md-6 mt-md-2 pt-md-2 mb-3">
                <p class="text-start "> {{LenghtService.caracteresDescripcion(servicios.descripcion, 50)}} </p>
                <div class="text-end container-btn mt-auto">
                    <button class="btn btn-bg" (click)="routerPag('servicio/' + servicios.id)">Leer mas</button>
                </div>
            </div>
        </ng-container>
    </div>
</div>