<nav class="navbar navbar-expand-md navbar-dark bg-black p-4">
    <div class="container-fluid">
        <a class="navbar-brand ms-3" href="#">
            <img src="../../../assets/img/Logo.png" alt="Logo" class="img-fluid img-logo">
        </a>
        <ul class="navbar-nav flex-row flex-nowrap fontsize">
            <li class="nav-item float-left pt-3">
                <a class="nav-link" href="#">Inicio</a>
            </li>
            <li class="nav-item float-left p-3 ps-5">
                <a class="nav-link" href="/catalogo">Catalogo</a>
            </li>
            <li class="nav-item float-left p-3 ps-5">
                <a class="nav-link" href="/servicioprestado">Servicios Prestados</a>
            </li>
        </ul>
    </div>
</nav>