<div class="container m-5 mx-auto text-center">
    <img src="../../assets/img/Decoracion.jpeg" class="rounded img-fluid" alt="foto">
    <p class="p-md-5 pt-3 fs-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis, maxime?
        Aspernatur repudiandae
        necessitatibus velit? Ut nisi omnis sunt eaque officiis, doloremque ad laborum minus odio voluptatum adipisci
        animi nesciunt ab? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum quod, illum eveniet esse sint,
        id voluptatum maximse officia autem similique distinctio culpa perferendis, quos ullam doloremque molestiae
        necessitatibus dolore libero.</p>

    <div class="justify-content-center">
        <div class="list-group mx-auto">
            <div href="#" class="list-group-item justify-content-center p-2">
                <h5 class="mb-0">Paquete: Nombre Paquete</h5>
            </div>
            <div class="list-group-item">
                <div class="w-2 justify-content-center">
                    <h5 class="mb-0">Personalizacion:</h5>
                </div>
                <p class="mb-0 mt-1">Lorem ipsum dolor sit amet consectetur,
                    adipisicing elit. Ad, natus quis. Accusantium, itaque. Sequi ipsam ullam odio, laudantium ipsum
                    eligendi
                    cupiditate quidem, velit voluptate maxime repellat iusto porro, deserunt pariatur?</p>
            </div>
        </div>
    </div>


    <button class="btn btn-bg mt-5" routerLink="/servicioprestado">Volver</button>
</div>